{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>About my Project</h3>

<p>My project Is about Aircrafts and aviation, i chose to make my project about aircraft coliding with Bird</p>
<p>My Database is about Birds coliding with aircrafts. <a href="https://www.kaggle.com/faa/wildlife-strikes">This is a link to the Database</a> </p>
<p>Altho my database isn't so up to date it can still shed some interesting info on the ways that birds collide with aircrafts</p>

{% endblock %}