{% extends "layout.html" %}

{% block content %}

<h2>Worked</h2>

<form action="mailto:hadarov@tichonet.com" method="post" enctype="text/plain">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Comment:<br>
    <input type="text" name="comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
</form>

<address>
    <strong>Instagram:</strong>   <a href="https://www.instagram.com/hadar_ova/">Hadar_ova</a><br />
</address>

{% endblock %}