{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
<h3>{{ message[1] }}</h3>
<br />
    {% endfor %}
{% endif %}
{% endwith %}



<form method=post>
    {{ form.csrf }}
    {{ form.csrf_token }}
    <table>
        <tr>
            <td class="input text"> {{ form.name.label }}</td>
            <td>                    {{ form.name }}      </td>
            <td class="input text"> {{ form.name2.label }}</td>
            <td>                    {{ form.name2 }}      </td>
        </tr>
        <tr>
            <td></td>
            <td class="input submit"> <input type="submit" value="Check?" /></td>
        </tr>
    </table>
</form>
<p><h1>Plot: </h1></p>
<div class="col-md-8">
    <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
</div>
    {% endblock %}