{% extends "layout.html" %}

{% block content %}

<h1>Data:</h1>
<br />
<table>
    <tr>
        <th>
            <p><a href="{{ url_for('qurey') }}" class="btn btn-primary btn-large">Events by Airport &raquo;</a></p>
        </th>
        <th>
            <p><a href="{{ url_for('WhatFP') }}" class="btn btn-primary btn-large">Events by Flight Phase &raquo;</a></p>
        </th>
        <th>
            <p><a href="{{ url_for('Fleet') }}" class="btn btn-primary btn-large">Are Companies safe? &raquo;</a></p>
        </th>
    </tr>
</table>
<h3>Graph: top - 10 most dangerous airports by the number of bird strikes.</h3>
<img src="../static/IMGS/TOP.svg" alt="CHCK" />
<br />
<h4>
    This is a list of the most dangerous airports in the world in terms of bird strikes
</h4>
<p>
    1 Airport ID: KDEN Events: 358644 Airport Name: Denver International Airport
</p>
<p>
    2 Airport ID: KDFW Events: 318648 Airport Name: Dallas/Fort Worth International Airport
</p>
<p>
    3 Airport ID: KORD Events: 261558 Airport Name: O'Hare International Airport
</p>
<p>
    4 Airport ID: KJFK Events: 216942 Airport Name: John F. Kennedy International Airport
</p>
<p>
    5 Airport ID: KMEM Events: 187044 Airport Name: Memphis International Airport
</p>
<p>
    6 Airport ID: KSMF Events: 172062 Airport Name: Sacramento International Airport
</p>
<p>
    7 Airport ID: KSLC Events: 152790 Airport Name: Salt Lake City International Airport
</p>
<p>
    8 Airport ID: KMCO Events: 141372 Airport Name: Orlando International Airport
</p>
<p>
    9 Airport ID: KLGA Events: 135894 Airport Name: LaGuardia Airport
</p>
<p>
    10 Airport ID: KPHL Events: 134970 Airport Name: Philadelphia International Airport
</p>
<h3>Graph: fatalities from 1990 until 2015 due to bird strikes</h3>
<img src="../static/IMGS/plot.png" />
<br />
<a href="{{ url_for('Soduku') }}" class="btn btn-primary btn-large">Secret Game &raquo;</a>
     {% endblock %}