{% extends "layout.html" %}

{% block content %}
<h1>This is a represention of how many safe and unsafe aircrafts are out there on companies fleets</h1>

<h2>The amount of "safe" aircrafts is:</h2>
<h3>{{ a | safe }}</h3>
<h2>The amount of "unsafe" aircrafts is:</h2>
<h3>{{notsafe | safe}}</h3>

<h2>Unfortunately Most companies do not carry these 4 engine beats becuase of the costs of fuel, so... the short answer is no their not safe but, 4 engine aircrafts altho safer have a lot of problems so its not all about the engine number</h2>

    {% endblock %}