{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Hadar's project</h1>
    <p class="lead">This is my project's site TEST</p>
    <p><a href="{{ url_for('Photoalbum') }}" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        </p>
        <a href="{{ url_for('Privacy') }}">Privacy policy</a>
        <br />
        <a href="http://hadarovproject.c1.biz/">Static HTML site</a>
    </div>
</div>

{% endblock %}