{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<form method=post>
    {{ form.csrf }}
    <table>
        <tr>
            <td class="input text"> {{ form.name.label }}</td>
            <td>                    {{ form.name }}      </td>
        </tr>
        <tr>
            <td></td>
            <td class="input submit"> <input type="submit" value="Check?" /></td>
        </tr>
    </table>
</form>
<p><h1>Amount Of Events: <b>{{name}}</b></h1></p>
<h3>Table:</h3>

<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
    <div class="row my-grid-borders">
        {{ raw_data_table | safe}}
    </div>
</div>
    {% endblock %}