{% extends "layout.html" %}

{% block content %}

<form method=post>
    {{ form.csrf }}
    {{ form.csrf_token }}
    <table>
        <tr>
            <td class="input text"> {{ form.name.label }}</td>
            <td>                    {{ form.name }}      </td>
        </tr>
        <tr>
            <td></td>
            <td class="input submit"> <input type="submit" value="Check?" /></td>
        </tr>
    </table>
</form>
<p><h1>Plot: </h1></p>

<img src={{ chart }} class="img-thumbnail" alt="plot" height={{height}} width={{ width }}>

    {% endblock %}